.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Snake {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid black;
}

.EmptyCell{
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid black;
}

.SnakeCell{
  width: 20px;
  height: 20px;
  background: black;
}

.AppleCell{
  width: 18px;
  height: 18px;
  background: red;
  border: 1px solid black;
}